<div id='states'>
  <% for (var i = 0; i < states.length; ++i) { var state = states[i]; %>
  <div class='state-col'>
    <div class='title'><%= state.title %><span class='stateCount'></span></div>
    <ul data-index='<%=i%>'>
    <% state.cards.forEach(function(card) { %>
      <%- partial("card", {card:card}) %>
    <% }) %>
    </ul>
  </div>
  <% } %>
</div>
<div id='cardDetails'>
</div>
<div id='controls'>
  <form method='post' action='/create'>
    <div><label>Title:</label><input type='text' name='project-title' /></div>
    <div>
      <label>Description:</label>
      <textarea cols='50' rows='4' name='project-description'></textarea>
    </div>
    <button type='submit' name='project-create'>Create Project</button>
  </form>
</div>
