<% if (!locals.cardClass) cardClass = "card"; %>
<li data-card-id='<%= card.id %>' class='<%= cardClass %>'>
  <span class='number'>#<%= card.number %></span> - <span class='title'><%= card.title %></span>
</li>
