<!doctype html>
<html>
  <head>
    <title>TeamBoard</title>
    <link rel="stylesheet" href="/css/auth-buttons.css" type="text/css" media="screen" charset="utf-8"></link>
    <style type="text/css">

      *, html, body {
        font-family:Helvetica,Verdana,Arial,sans-serif;
        vertical-align:top;
      }
      #states {
        white-space:nowrap;
        overflow-x:scroll;
        overflow-y:auto;
      }
      .state-col {
        display:inline-block;
        border:1px solid #aaa;
        border-radius:5px;
        background-color:#eee;
        width:400px;
        padding:4px;
        min-height:400px;
        top:0;

        transition-property:width;
        transition-duration:250ms;
        transition-timing-function:linear;

        -webkit-transition-property:width;
        -webkit-transition-duration:250ms;
        -webkit-transition-timing-function:linear;
      }
      #loginForm {
        position:absolute;
        right:10px;
        top:10px;
      }
      .state-col ul {
        margin-bottom:10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        min-height:40px;
      }
      .state-col .title {
        border-bottom:1px solid #aaa;
        text-align:center;
        font-size:14px;
        font-weight:bold;
      }
      .card {
        margin:4px;
        padding:8px;
        border:1px solid #aaa;
        background-color:white;
        font-size:11px;
        height:40px;
        white-space:normal;
      }
      .placeholder-card {
        border:1px dotted #aaa;
        height:40px
      }
      .number {
        color:#aaa;
        font-size:12px;
      }
      .card span.title {
        text-align:left;
        font-size:12px;
        border-bottom:0;
        font-weight:normal;
      }
      .ui-sortable-placeholder {
        border: 1px dotted black;
        opacity:0.8;
        visibility: visible !important;
        height: 40px !important;
      }
      .ui-sortable-placeholder * {
        visibility: hidden;
      }
      .collapsed {
        width:10px;
        min-width:10px;
      }
      .collapsed .title {
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        text-align:left;
        width:10px;
        top:200px;
        position:relative;
        border-bottom:0px;
      }
      .collapsed ul {
        display:none
      }

      .stateCount {
        margin-left:5px;
      }

      #cardDetails {
        background:white;
        display:none;
        box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        position:absolute;
        top:5%;
        left:5%;
        width:90%;
        padding:20px;
        padding-top:0px;
        margin-bottom:10px;
      }

      .closeCard {
        position:absolute;
        right:10px;
        top:10px;
        width:2em;
        height:2em;
        border-radius:1em;
        border:2px solid #ccc;
        background-color:#eee;
        color:#ccc;
        font-weight:bold;
        text-align:center;
        font-size:12px;
      }
      .closeCard:hover {
        background:white;
        color:black;
      }
      .closeCard p {
        margin-top:1px;
        display:inline-block;
      }
      #cardDetails .number {
        font-size:18px;
        text-decoration:none;
      }
      #cardDetails .number {
        font-size:18px;
        text-decoration:none;
      }
      #cardDetails a.number:hover {
        text-decoration:underline;
      }
      #cardDetails p img {
        max-width:90%;
        display:block;
        clear:both;
        margin:10px;
      }
      #cardDetails img.avatar {
        width:24px;
        height:24px;
      }
      .comment {
        margin-top:5px;
        line-height:24px;
      }
      #cardDetails .details {
        line-height:24px;
        color:#aaa;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        function updateCounts() {
          $(".state-col").each(function(idx, col) {
            $(col).find(".stateCount").text("(" + $(col).find("li").length + ")")
          });
        }
        updateCounts();
        $("#cardDetails").on("click", ".closeCard", function() {
          $("#cardDetails").hide();
        });
        $(".card").dblclick(function() {
          $("#cardDetails").show();
          $("#cardDetails").load("/card/" + $(this).find(".number").text().substring(1));
        });
        $(".state-col div.title").click(function() {
          $(this).parent().toggleClass("collapsed");
          // TODO:  On collapse show the count
        });
        $(".state-col ul").sortable({
          connectWith:".state-col ul",
          revert:true,
          forcePlaceholderSize:true,
          receive:function(ev, ui) {
            // TODO: Show the checklist if there is one, save the updated info
          }
        });
        $(".state-col ul").disableSelection();
      })
    </script>
  </head>
  <body>
    <%- partial("login") %>
    <h1>Team Board</h1>
    <%- body %>
    <% if (admin) { %>
      <%- partial("admin") %>
    <% } %>
  </body>
</html>
